.home-main {
  position: relative;
}
.bg-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 100%;
}
.socials {
  position: absolute;
  bottom: 7vw;
  right: 12vw;
}
.socials ul li {
  display: inline;
  list-style: none;
  padding: 1.25vw;
  margin: 1.25vw;
}
.socials ul li img{
  width: 7.5vw;
  height: auto;
}

.socials h3 {
  margin: 0.5em;
  text-align: center;
  color: #ffdb41;
  font-size: 3.5vw;
}
.home-main h2 {
  position: absolute;
  top: 10vw;
  left: 6vw;
  font-size: 3.8vw;
  color: #292929;
}
/* .lg {
  font-size: 1em;
} */
.sp {
  color: black;
}
button {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}
